@import '../../assets/css/colors.scss';

.footer {
    color: $gray-20;
    background: $gray-80;
    margin-top: auto;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
  flex-grow: 1;
  text-align: center;
}

.info, .links {
  padding: 8px;
}

.links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  a {
    color: $gray-20;
  }
}
