<div class="file-view">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="filename">{{file.stored_path && file.stored_path.substring(file.stored_path.lastIndexOf('/') + 1)}}</span>
          <button class="download-button" mat-button color="primary" (click)="download($event, file.id, file.stored_path)">
            <mat-icon mat-list-icon>file_download</mat-icon>
            Download
          </button>
          <ng-container *ngIf="allVersions.length">
            <button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"><mat-icon class="version-icon">history</mat-icon>{{file.date | date}}</button>
            <mat-menu #menu="matMenu">
              <button *ngFor="let version of allVersions" [class.active-version]="file.id === version.id"
                      (click)="selectVersion(version)" mat-menu-item>{{version.date | date:'medium'}}</button>
            </mat-menu>
          </ng-container>
          <span *ngIf="!allVersions.length" class="date">{{file.date | date}}</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="metadata-content" *ngIf="file.metadata">
      Metadata:
      <div class="metadata-container">
        <mat-chip-list *ngFor="let key of getKeys(file.metadata)">
          <span class="metadata-key">{{key}}</span><mat-chip *ngFor="let value of toArray(file.metadata[key])">{{value}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="metadata-content" *ngIf="!file.metadata">
        Metadata is not available for this file
    </div>
  </mat-expansion-panel>
</div>

