@use 'node_modules/@angular/material' as mat;
@include mat.core();

$md-primary: (
  50 : #e0e7f4,
  100 : #b3c2e3,
  200 : #8099d0,
  300 : #4d70bd,
  400 : #2652ae,
  500 : #0033a0,
  600 : #002e98,
  700 : #00278e,
  800 : #002084,
  900 : #001473,
  A100 : #a1abff,
  A200 : #6e7dff,
  A400 : #3b4fff,
  A700 : #2238ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-secondary: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$palette-primary: mat.define-palette($md-primary, 500);
$palette-secondary:  mat.define-palette($md-secondary, A100, A200, A400);

$theme: mat.define-light-theme((
  color: (
    primary: $palette-primary,
    accent: $palette-secondary,
  )
));

@include mat.all-component-themes($theme);
