.list {
  padding-left: 14px;
}

.directory {
  position: relative;
  padding: 30px;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: '';
    background-color: #666;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #666;
  }

  &:last-child:after {
    height: 15px;
  }
}

.directory-name {
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;

  &.active {
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }

  mat-icon {
    margin-right: 10px;
  }
}

.italic {
  font-style: italic;
}
