// @font-face {
//     font-family: "sourcesans-regular";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
// }

// @font-face {
//     font-family: "sourcesans-semibold";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
// }

// @font-face {
//     font-family: "sourcesans-bold";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
// }

// @font-face {
//     font-family: "sourcesans-light";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
// }

// @font-face {
//     font-family: "opensans-regular";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
// }

// @font-face {
//     font-family: "opensans-semibold";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
// }

// @font-face {
//     font-family: "opensans-bold";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
// }

// @font-face {
//     font-family: "cern-icons";
//     src:
//         url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"),
//         url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
// }

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* source-sans-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/source-sans-pro-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/source-sans-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "assets/css/theme.scss";


body, html {
  margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

app-root, app-home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  font-weight: bold;
  font-size: 17px;
  gap: 28px;
}


